<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.blundell.soundboard.engine">

  <application>

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />

    <activity
      android:name="com.google.android.gms.ads.AdActivity"
      android:theme="@android:style/Theme.Translucent"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

  </application>

</manifest>
